// Buttons

.button {
  -webkit-font-smoothing: antialiased;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: darken($purple, 5);
    color: white;
  }
}

.button-primary {
  background-color: $base-button-color;
}

.button-secondary {
  border: 1px solid $purple;
  color: $dark-gray;
  &:hover {
    background-color: $purple;
    color: white;
  }
}

