.header {
    @extend .clearfix;
    
    @include desktop {
        padding: 1em;
    }

    .container {
        width: 100%;
    }

}

.logo {
    float: left;
    padding: 1em;
}

a {
    color: $dark-gray;
    text-decoration: none;
    &:hover {
        color: $purple;
        @include transition(color, .3s) 
    }
}

.navigation-wrapper,
.navigation-menu {
    @extend .clearfix;
}

.navigation-wrapper {
    position: relative;
    padding: 1em;
}

.navigation-menu-button {
    color: $purple;
    display: block;
    float: right;
    text-transform: uppercase;
    padding: 1em;

    @include desktop {
        display: none;

    }
}

.nav {

    @extend .clearfix;

    @include desktop {

        float: left;
        padding-top: 1em;

    }

    li {
        display: block;
        width: 100%;
        margin: 0;
        padding: 1em;
        text-transform: uppercase;
        border-top: 1px solid $light-gray;
        font-weight: 600;
        text-align: center;

        @include desktop {
            display: inline-block;
            width: auto;
            padding: 0;
            border: 0;

        }
    }
    
    li li {
        border: 0;
        text-transform: none;

        @include desktop {
            display: none;
        }
    }

    .submenu {
        padding: 0;
        background-color: $light-gray;
    }

    .nav-link > a { 

        @include desktop {
            float: left;
            display: inline;
            margin: 1em 2em;
        }

    }

}

.navigation-menu {

    margin: 0;
    padding: 0;
    
    @include desktop {
        float: left;
    }
    
}

ul#navigation-menu {    
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    z-index: 9999;
    @include desktop {
        display:inline;
    }
}

.nav-tools {
    display: block;
    background-color: $purple;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    a {
        color: #fff;
        @include desktop {
            color: $dark-gray;

        }
    }

    @include desktop {
        float: right;
        margin-top: 1em;
        background-color: #fff;
    }
    
}
