// bower:scss
// endbower
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "extends";
@import "mixins";
@import "animation";
@import "layout";
@import "navigation";
@import "blog";
@import "buttons";
@import "home";
@import "typography";


body {
   -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


